body{
  margin: 0;
  text-align: center;
  background-color: #f5f3f4;
}

h1, h2{
  font-family: 'Sigmar One', cursive;
  font-weight: bold;
  color: #494949;
  font-size:100px;
}

p{
  font-family: 'Acme', sans-serif;
  color: #7C7A7A;
  font-size: 18px;
}

#top{
  background: url('images/wp.png');
  position: relative;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.top-container{
  padding: 1% 8% 18%;
}

.logo{
  color: white;
  font-size: 55px;
  font-family: 'Aclonica', sans-serif;
}

.navbar{
  padding: 0 0 4.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand{
  font-size: 10rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 14px;
}

.nav-link{
  font-size: 0.5rem;
  font-size: 20px;
}

.shrish{
  height: 160px;
  border: 4px solid ;
  border-radius: 100px;
  text-align: center;
  border-color: white;
  margin-top: -100px;
}

.icon{
  text-align: center;
}

.sicon{
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  padding: 13px;
}

.sicon:hover{
  background-color: #ff5d73;
  color: white
}

.wrapper{
  display: inline-flex;
}

.wrapper .dynamic-txts{
  margin-left: -30px;
  line-height: 95px;
  height: 95px;
  overflow: hidden;
}

.dynamic-txts li{
  list-style: none;
  color: #ff5d73;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  top: 0;
  animation: slide 5s steps(3) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
}

.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 90px;
  width: 100%;
  background: url('images/wp.png');
  border-left: 2px solid #ff5d73;
  animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

#about{
  text-align: center;
  padding-right: 50px;
}

.abimg{
  height: 530px;
  margin-top: 80px;
}

.para{
  margin-top: 50px;
}

.detail{
   text-align: left;
}

#service{
  margin: 200px 90px auto;
  margin-bottom: 160px;
  margin-top: 160px;
  text-align: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.wrapper .box{
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.front-face{
  background-color: #fff;
  height:220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px #9da3a4;
  transition: all 1s ease;
}

.front-face .icon{
  height: 80px;
}

.box .front-face .icon i{
  font-size: 65px;
}

.box .front-face span,
.box .back-face span{
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span{
  background: linear-gradient(#ff5d73, #c9184a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .back-face{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 96%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(#ff5d73, #c9184a);
  transform: translateY(110px) rotateX(-90deg);
  transition: all 1s ease;
}

.box .back-face p{
  margin-top: 10px;
  text-align: center;
   font-size:15px;
}

.box:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

#skills{
  margin-top: 20px;
  background-image: url('images/skills.png');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

.my{
    color: white;
    font-size: 80px;
    font-family: 'Sigmar One', cursive;
    font-weight: 800;
}

.skills-bar .bar{
  margin: 20px 0;
}

.skills-bar .bar .info span{
  font-size: 30px;
  color: white;
  font-weight: 500;
  opacity: 0;
  animation: showText2 1.5s 2s linear forwards;
}

@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

.skills-bar .bar .progress-line{
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05),
                    0px 1px rgba(255, 255, 255, 0.8);
  animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span{
  height: 100%;
  width: 80%;
  background: #ff5d73;
  position: absolute;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.progress-line.html span{
  width: 100%;
}

.progress-line.css span{
  width: 90%;
}

.progress-line.javascipt span{
  width: 60%;
}

.progress-line.java span{
  width: 60%;
}

.progress-line.dart span{
  width: 50%;
}

.progress-line.wordpress span{
  width: 80%;
}

.bar .progress-line span::before{
  position: absolute;
  content: "";
  right: 0;
  top: -30px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  opacity: 0;
  animation: showText2 1.5s 2.5s linear forwards;
}

.bar .progress-line span::after{
  position: absolute;
  right: 0;
  top: -30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  background-color: black;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 1.5s 2.5s linear forwards;
}

@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

.progress-line.html span::after{
  content: "100%";
}

.progress-line.css span::after{
  content: "90%";
}

.progress-line.javascipt span::after{
  content: "60%";
}

.progress-line.java span::after{
  content: "60%";
}

.progress-line.dart span::after{
  content: "50%";
}

.progress-line.wordpress span::after{
  content: "80%";
}

#experience{
  padding: 3% 4%;
  text-align: center;
}

.internship{
  height:330px;
}

.contactimg{
  height: 600px;
}

#contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('images/contactbg.png');
  background-size: cover;
  background-attachment: fixed;
}

.content{
  max-width: 800px;
  text-align: center;
}

.content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.content p{
  font-weight: 300;
  color: #fff;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .cicon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #ff5d73;
}

.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #ff5d73;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #ff5d73;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

#status{
  width: 90%;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
}

#status.success{
  background-color: #ff5d73;
  animation: status 4s ease forwards;
}

#status.error{
  background-color: #ff5d73;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}

/* Media Queries */
@media (max-width:1028px) {

  h1{
    font-size: 300px;
  }

  p{
    font-size: 30px;
  }

  .shrish{
    height: 200px;
    border: 4px solid ;
    border-radius: 100px;
    text-align: center;
    border-color: white;
    margin-top: -100px;
  }

  .abimg{
    height: 600px;
    margin-bottom: 80px;
  }

  .para{
    margin-top: -90px;
    margin-left: 20px;
  }

  .detail{
    text-align: center;
  }

  .btn{
    padding: 50% 52%;
    font-size: 60px;
  }

  .box .front-face span,
  .box .back-face span{
    font-size: 40px;
  }

  .box .back-face p{
    font-size: 24px;
  }

  .front-face{
    background-color: #fff;
    height:300px;
    width: 500px;
    margin-top: 80px;
    margin-left: 150px;
    justify-content: center;
    text-align: center;
  }

  .box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 520px;
    padding: 30px;
    color: #fff;
    margin-top: 80px;
    margin-left: 150px;
    height: 300px;
    background: linear-gradient(#ff5d73, #c9184a);
    text-align: center;
    /* display: none; */
  }

  #skills{
    margin-top: 100px;
    height: 800px;
    text-decoration: none;
  }

  .internship{
    height: 405px;
  }

  .marintership{
    font-size: 10px;
    margin-top: 30px;
  }

  .project{
    margin-top: 30px;
  }

  #contact{
    padding: 50px;
  }

  .content{
    margin-bottom: 100px;
  }

  .container{
    flex-direction: column;
  }

  .container .contactInfo{
    margin-bottom: 40px;
  }

  .container .contactInfo,
  .contactForm{
    width: 100%;
  }
}
